<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="CefSharp.MinimalExample.WinForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
    <applicationSettings>
        <CefSharp.MinimalExample.WinForms.Properties.Settings>
            <setting name="httpPolicyPath" serializeAs="String">
                <value>C:\Users\Yoni\Desktop\selfcac\CefSharp.WinForms.Filtered\SamplePolicies\policy.json</value>
            </setting>
            <setting name="timePolicyPath" serializeAs="String">
                <value>C:\Users\Yoni\Desktop\selfcac\CefSharp.WinForms.Filtered\SamplePolicies\all_time.json</value>
            </setting>
            <setting name="bypassSecret" serializeAs="String">
                <value>123123</value>
            </setting>
        </CefSharp.MinimalExample.WinForms.Properties.Settings>
    </applicationSettings>
</configuration>
